/* tailwind css ------  */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* width: 100%; */
  /* for footer in under ----  */
  min-height: 100vh;
  /* footer height --------- */
  padding-bottom: 188px;
  position: relative;
}

@media screen and (max-height: 767px) {
  body {
    /* footer height --------- */
    padding-bottom: 278px;
  }
}

/* বিশেষ দ্রষ্টব্য: এখানে ফুটারের মাপ(উচচতা/height) কে body এর padding হিসাবে বাদ দেওয়া হয়েছে এবং body তে relative এবং footer এ absolute ব্যাবহার করা হয়েছে ------  */